* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
}
.nav-bar {
  width: 100%;
  height: 80px;
  background-color: #a2d729;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0px;
  z-index: 2;
}
.nav-container {
  width: 90%;
  height: 60px;
  background-color: transparent;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  background-image: url("./Images/Travelog_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 60px;
}
.nav-content {
  width: 80%;
  height: 60px;
  margin-left: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Helvetica, Arial;
}
.nav-content a {
  text-decoration: none;
  color: #242424;
}
.signin-signup {
  /*   width: 50%;
  height: 60px;
  margin-left: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly; */
  margin-left: 60px;
}
.signin-signup button {
  height: 35px;
  width: 100px;
  border-radius: 40px;
  cursor: pointer;
}
.signin {
  background-color: transparent;
  border: 1px solid #ffff;
  color: #ffff;
  background-color: #242424;
}
.signup {
  border: none;
  margin-left: 20px;
}
.signin:hover {
  background-color: #3b3838;
}
.signup:hover {
  background-color: #e9e1e1;
}

.packages{
      font-size: 32px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
      Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo,
      "ＭＳ Ｐゴシック", Arial, sans-serif;
      position: relative;
      top: 90px;
      margin-bottom: 40px;
      /* text-align: center; */
      /* margin-left: 200px; */
      /* background-color: #a2d729; */
      
}

.packages h2{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.packages-grid{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-left:130px;
  margin-top: 50px;
  /* border: 1px solid rgb(18, 189, 58); */
}

.packages-item{
  width: 85%;
  /* border: 1px solid black; */
  border-radius: 15px;
  margin-bottom: 20PX;
  background-color: #ffff
  /* margin: 10px 5px; */
  
} 



img{
  
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.icon{
  position: relative;
  top: -10px;
  display: flex;
  text-align: center;
}

.icon i{
  margin-top: 10px;
  margin-left:5px;
  font-size: 27px;
  color: orange;
  /* color: #a2d729; */
}

.icon h4{
  margin-left: 15px;
  font-weight: 700;
  font-size: 35px;
  
}

.packages-item p{
  position: relative;
  top: -10px;
  font-size: 20px;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  Helvetica, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Hiragino Kaku Gothic Pro", Arial, sans-serif;
  margin-left: 5px;
  font-weight: 400;
}

.packages-item .stars{
  position: relative;
  top: -10px;
  color: orange;
  margin-left: 5px;
  /* margin-top: 2px; */
  font-size: 22px;
}

.packages-item .price{
  position: relative;
  top: -10px;
  font-size: 25px;
  margin-left: 5px;
  /* margin-top: 5px; */
}

.packages-item span{
  position: relative;
  top: -3px;
  font-size: 18px;
  text-decoration: line-through;
  
}

.packages-item .btn{
  /* border: 1px solid black; */
  display: flex;
  text-align: center;
  position: relative;
  top: -10px;
  height: 40px;
  width: 38%;
  margin-left: 9px;
  margin-bottom: 2px;
  background-color: #a2d729;
  border-radius: 5px;

}
.packages-item a{
  text-decoration: none;
  margin-left: 2px;
  color: black;
  font-size: 30px;
  font-weight: 500;
  font-family:  sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

.back-video{
  width: 90%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(2px);
  object-fit: contain;
}

@media (min-aspect-ratio:1/4){
  .back-video{
    width: 100%;
    height: auto;

  }
}
@media (max-aspect-ratio:1/4){
  .back-video{
    width: auto;
    height: 100%;

  }
}